body {
    background-color: #e8eaf6;
}

nav, .card-panel {
    user-select: none;
}

.container {
    width: 100%;
}

[type="radio"]:checked + span:after {
    background-color: #3f51b5 !important;
    border: 2px solid #3f51b5 !important;
}

#content {
    background-color: #ffffff;
    height: calc(100vh - 56px);
    padding: 20px 50px 20px 50px;
}

@media only screen and (min-width: 601px) {

    #content {
        height: calc(100vh - 64px);
    }
}
