body {
    background-color: #e8eaf6;
}

nav, .card-panel {
    user-select: none;
}

.container {
    width: 100%;
}

[type="radio"]:checked + span:after {
    background-color: #3f51b5 !important;
    border: 2px solid #3f51b5 !important;
}

#content {
    background-color: #ffffff;
    min-height: calc(100vh - 56px);
    padding: 20px 50px 20px 50px;
}

@media only screen and (min-width: 601px) {

    #content {
        min-height: calc(100vh - 64px);
    }
}

.topics a {
    background-color: white;
    border: 2px solid #3f51b5;
    border-radius: 2px;
    color: black;
    display: inline-block;
    padding: 20px 40px;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.3s;
}

.topics a:hover {
    background-color: #3f51b5;
    color: white;
    transition-duration: 0.3s;
}

div.scroll {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.image {
    max-width: 100%;
}

div.flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

div.flex-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.sidenav li > a {
    padding: 0 16px;
}

.desc {
    font-size: 150%;
    font-family: 'Hind Guntur', sans-serif;;
}

.h3 {
    font-family: 'Abril Fatface'; 
    font-size: 120%;
}
