{%  extends 'layout.html' %}

{% block content %}
<div id="content" class="container z-depth-2">
    <h3>O nas</h3>
    <div class="flex">
        <div class="flex-column">
            <img class="image" src="{{ url_for('static', filename='pics/krzysiu.jpg') }}" width="360" alt="Krzysiu">
            <h5>Imię Nazwisko</h5>
            <p>Opis o sobie... lorem ipsum dolor sit amet...</p>
        </div>
        <div class="flex-column">
            <img class="image" src="{{ url_for('static', filename='pics/pawel.png') }}" width="360" alt="Paweł">
            <h5>Imię Nazwisko</h5>
            <p>Opis o sobie... lorem ipsum dolor sit amet...</p>
        </div>
        <div class="flex-column">
            <img class="image" src="{{ url_for('static', filename='pics/kuba.png') }}" width="360" alt="Kuba">
            <h5>Imię Nazwisko</h5>
            <p>Opis o sobie... lorem ipsum dolor sit amet...</p>
        </div>
        <div class="flex-column">
            <img class="image" src="{{ url_for('static', filename='pics/grunwald.png') }}" width="360" alt="Grunwald">
            <h5>Imię Nazwisko</h5>
            <p>Opis o sobie... lorem ipsum dolor sit amet...</p>
        </div>
        <div class="flex-column">
            <img class="image" src="{{ url_for('static', filename='pics/wiktoria.jpg') }}" width="360" alt="Wiktoria">
            <h5>Imię Nazwisko</h5>
            <p>Opis o sobie... lorem ipsum dolor sit amet...</p>
        </div>
    </div>
</div>
{% endblock %}
