{%  extends 'layout.html' %}

{% block content %}
<div id="content" class="container z-depth-2">
    <h3>O nas</h3>
    <p class="flow-text">wip czekam na zdjecia kochani</p>
    <img class="image" src="{{ url_for('static', filename='pics/krzysiu2.jpg') }}" alt="Krzysiu">
    <img class="image" src="{{ url_for('static', filename='pics/pawel.png') }}" alt="Paweł">
    <img class="image" src="{{ url_for('static', filename='pics/kuba.png') }}" alt="Kuba">
    <img class="image" src="{{ url_for('static', filename='pics/grunwald.png') }}" alt="Grunwald">
    <img class="image" src="{{ url_for('static', filename='pics/wiktoria2.jpg') }}" alt="Wiktoria">
</div>
{% endblock %}