<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <title>Wizualizacje Matematyki</title>

    <!-- Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Import Google Icon Font -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Optimize for mobile view -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Stylesheet from static directory -->
    <link href="{{ url_for('static',filename='style.css') }}" rel="stylesheet" type="text/css">
    <!-- MathJax-->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</head>

<body>
    <div class="navbar-fixed">
        <nav class="indigo darken-2">
            <div class="nav-wrapper container">
                <a href="" class="brand-logo">MatWiz</a> 
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
              <!-- sliczny ten navigation bar krzysiu ale na tej glownej stronie by sie przydalo to menu dac nizej zeby rzeczywiscie sie na niej cos znajdowalo:]  <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/">Quiz</a></li>
                    <li><a href="/problem">Zagadnienie</a></li>
                    <li><a href="/about">O nas</a></li>
                </ul>
             </div> -->
        </nav>
    </div>
    <ul class="sidenav" id="mobile-demo">
        <li><a href="/">Quiz</a></li>
        <li><a href="/problem">Zagadnienia</a></li>
        <li><a href="/about">O nas</a></li> 
    </ul>
    <div class="title"> Tu jakiś ładny wstęp cssa ogarne w niedziele prosze nie krzyczcie to bedzie ladnie wygladac obiecuje </div>
    <div class="menu">
        <ul>
            <li>
                <a href="index.html"> quiz </a> <br>
                <a href="info.html"> info o projekcie </a>
                <div class="dropdown">
                    <button class="dropbtn">zagadnienia
                      <i class="fa fa-caret-down"></i>
                    </button>
                <div class="dropdown-content">
                    <a href="logarithms.html"> logarytmy </a>
                    <a href="quadratics.html"> równania kwadratowe</a>
                    <a href="sequences.html"> ciągi </a>
                  </div>
                  </div>
                <a href="/"> wyniki quizu?</a>

                
               

            </li>
        </ul>
    </div>

</body>
</html>
