<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Wizualizacje Matematyki</title>

    <!-- Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Import Google Icon Font -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Optimize for mobile view -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- Stylesheet from static directory -->
    <link href="{{ url_for('static',filename='style.css') }}" rel="stylesheet" type="text/css">
</head>
<body>
<div class="navbar-fixed">
    <nav class="indigo darken-2">
        <div class="nav-wrapper container">
            <a href="" class="brand-logo">MatWiz</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/">Quiz</a></li>
                <li><a href="/problem">Zagadnienie</a></li>
                <li><a href="/about">O nas</a></li>
            </ul>
        </div>
    </nav>
</div>
<ul class="sidenav" id="mobile-demo">
    <li><a href="/">Quiz</a></li>
    <li><a href="/problem">Zagadnienie</a></li>
    <li><a href="/about">O nas</a></li>
</ul>

<div id="content" class="container z-depth-2">
    <div class="row center">
        <div class="col s12 m6">
            <div class="card-panel indigo">
                <span class="white-text">Strona w budowie :) <br> Za utrudnienia przepraszamy</span>
            </div>
        </div>
    </div>
    {% if content=='quiz' %}
        <form action="#">
            <h3 class="flow-text">Która odpowiedź jest prawidłowa?</h3>
            <p>
                <label>
                    <input name="zad1" type="radio"/>
                    <span class="zad1-incorrect">Być może ta jest poprawna.</span>
                </label>
            </p>
            <p>
                <label>
                    <input name="zad1" type="radio"/>
                    <span class="zad1-correct">To na pewno nie jest poprawna odpowiedź.</span>
                </label>
            </p>
            <p>
                <label>
                    <input name="zad1" type="radio"/>
                    <span class="zad1-incorrect">A może ta...</span>
                </label>
            </p>
            <a class="waves-effect waves-light btn indigo" onclick="check('zad1')">Sprawdź!</a>
        </form>
    {% elif content=='problem' %}
        <p class="flow-text">Wybrane zagadnienie matematyczne</p>
    {% elif content=='about' %}
        <p class="flow-text">O nas...</p>
    {% else %}
        <p class="flow-text">404 - Strona, którą szukasz nie istnieje :(</p>
    {% endif %}
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
