<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Wizualizacje Matematyki</title>
    <!-- Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- Optimize for mobile view -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- Stylesheet from static directory -->
    <link href="{{ url_for('static',filename='style.css') }}" rel="stylesheet" type="text/css">
</head>
<body>
<div class="navbar-fixed">
<nav class="indigo darken-2">
    <div class="nav-wrapper container">
        <a href="" class="brand-logo">MatWiz</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/">Quiz</a></li>
            <li><a href="/zagadnienie">Zagadnienie</a></li>
            <li><a href="/about">O nas</a></li>
        </ul>
    </div>
</nav>
</div>
<div id="content" class="container z-depth-2">
    <div class="row center">
        <div class="col s12 m3">
            <div class="card-panel indigo">
                <span class="white-text">Strona w budowie :)</span>
            </div>
        </div>
    </div>
    <p class="flow-text">{{ content }}</p>
</div>
</body>
</html>