<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <title>Wizualizacje Matematyki</title>

    <!-- Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Import Google Icon Font -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Optimize for mobile view -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Stylesheet from static directory -->
    <link href="{{ url_for('static',filename='style.css') }}" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="navbar-fixed">
        <nav class="indigo darken-2">
            <div class="nav-wrapper container">
                <a href="" class="brand-logo">MatWiz</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/">Quiz</a></li>
                    <li><a href="/problems">Zagadnienia</a></li>
                    <li><a href="/about">O nas</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <ul class="sidenav" id="mobile-demo">
        <li><a href="/">Quiz</a></li>
        <li><a href="/problems">Zagadnienia</a></li>
        <li><a href="/about">O nas</a></li>
    </ul>
<div id="content" class="container z-depth-2">
    <h1 class="center">Logarytmy</h1>
    <p>Definicja logarytmu - logarytm przy podstawie \(a\) z liczby \(b\) to taka liczba \(c,\) że \(a^c = b.\)
        Zapis matematyczny: \(\log_{a} b = c \Leftrightarrow a^c = b.\)</p>
    <p>Założenia:
    <ol>
        <li>\(a \gt 0\)</li>
        <li>\(a \ne 1\)</li>
        <li>\(b \gt 0\)</li>
    </ol>
    </p>
    <p><b>Przykład 1.</b> \(\log_{2} 16 = 4\), ponieważ \(2^4 = 16\)</p>
    <p class="center"><strong>Działania i operacje na logarytmach</strong></p><br>
    <p>Jeżeli \(a \gt 0,\) \(a \ne 1,\) \(b \gt 0,\) \(c \gt 0,\) to zachodzą następujące wzory:
    <ol>
        <li>\(\log_{a} b + \log_{a} c = \log_{a} (b \cdot c);\)</li>
        <li>\(\log_{a} b - \log_{a} c = \log_{a} (\frac{b}{c});\)</li>
        <li>\(\log_{a} b^n = n \cdot \log_{a} b;\)</li>
        <li>\(a^{\log_{a} b} = b;\)</li>
        <li>\(\log_{a} b = \frac{\log_{c} b}{\log_{c} a}.\)</li>
    </ol>
    </p>
    <p><b>Przykład 2.</b> Oblicz \(\frac{\log_{5} 4 + \log_{25} 4}{\log_{5} 3}.\)<br>
        $$\frac{\log_{5} 4 + \log_{25} 4}{\log_{5} 3} = \frac{\log_{5} 4 + \frac{\log_{5} 4}{\log_{5} 25}}{\log_{5} 3} =
        \frac{\log_{5} 4 + \frac{\log_{5} 4}{2}}{\log_{5} 3} = \frac{\frac{3}{2} \log_{5} 4}{\log_{5} 3} =
        \frac{\log_{5} 4^{\frac{3}{2}}}{\log_{5} 3} = \frac{\log_{5} 8}{\log_{5} 3} = \log_{3} 8$$
    </p>
    <p><b>Przykład 3.</b> Oblicz \(\frac{1}{2} \log_{3} 15 - \log_3 \sqrt{5}.\)<br>
        $$\frac{1}{2} \log_{3} 15 - \log_3 \sqrt{5} = \log_{3} \sqrt{15} - \log_3 \sqrt{5} = \log_{3}
        \sqrt{\frac{15}{5}} =
        \log_{3} \sqrt{3} = \frac{1}{2}$$
    </p>
    <p><b>Przykład 4.</b>Rozwiąż równanie \(log_{\sqrt{2}} (\log_{7} \frac{2^x + 104}{2^{x+1}}) = 0.\)<br>
        Z definicji logarytmu
        $$\log_{7} \frac{2^x + 104}{2^{x+1}} = \sqrt{2}^0 = 1$$
        $$\frac{2^x + 104}{2^{x+1}} = 7^1 = 7$$
        $$2^x + 104 = 7(2 \cdot 2^x)$$
        $$104 = 13 \cdot 2^x$$
        $$2^x = 8$$
        $$x = 2.$$
        Odpowiedź: \(x = 2.\)
    </p>
</div>
<!-- Scripts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="{{ url_for('static', filename='script.js') }}"></script>
<!-- Mathjax -->
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</body>
</html>
