<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <title>Wizualizacje Matematyki</title>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='site.webmanifest') }}">
    <link rel="mask-icon" href="{{ url_for('static', filename='safari-pinned-tab.svg') }}" color="#3f51b5">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta name="apple-mobile-web-app-title" content="MatWiz">
    <meta name="application-name" content="MatWiz">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="msapplication-config" content="{{ url_for('static', filename='browserconfig.xml') }}">
    <meta name="theme-color" content="#3f51b5">

    <!-- Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Import Google Icon Font -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Optimize for mobile view -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- Stylesheet from static directory -->
    <link href="{{ url_for('static',filename='style.css') }}" rel="stylesheet" type="text/css">
</head>

<body>
<div class="navbar-fixed">
    <nav class="indigo darken-2">
        <div class="nav-wrapper container">
            <a href="" class="brand-logo">MatWiz</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/">Quiz</a></li>
                <li><a href="/problems">Zagadnienia</a></li>
                <li><a href="/about">O nas</a></li>
            </ul>
        </div>
    </nav>
</div>
<ul class="sidenav" id="mobile-demo">
    <li><a href="/">Quiz</a></li>
    <li><a href="/problems">Zagadnienia</a></li>
    <li><a href="/about">O nas</a></li>
</ul>

<div id="content" class="container z-depth-2">
    <div class="row center">
        <div class="col s12 m6">
            <div class="card-panel indigo">
                <span class="white-text">Strona w budowie :) <br> Za utrudnienia przepraszamy</span>
            </div>
        </div>
    </div>
    <div class="topics">
        <a href="/quadratics">Równania i nierówności kwadratowe</a>
        <a href="/logarithms">Logarytmy</a>
        <a href="/sequences">Ciągi</a>
    </div>
    {% elif content=='about' %}
        <p class="flow-text">wip czekam na zdjecia kochani</p>
    {% else %}
        <p class="flow-text">404 - Strona, której szukasz nie istnieje :(</p>
    {% endif %}
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
