<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <title>Wizualizacje Matematyki</title>

    <!-- Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Import Google Icon Font -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Optimize for mobile view -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- Stylesheet from static directory -->
    <link href="{{ url_for('static',filename='style.css') }}" rel="stylesheet" type="text/css">
</head>

<body>
<div class="navbar-fixed">
    <nav class="indigo darken-2">
        <div class="nav-wrapper container">
            <a href="" class="brand-logo">MatWiz</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/">Quiz</a></li>
                <li><a href="/problems">Zagadnienia</a></li>
                <li><a href="/about">O nas</a></li>
            </ul>
        </div>
    </nav>
</div>
<ul class="sidenav" id="mobile-demo">
    <li><a href="/">Quiz</a></li>
    <li><a href="/problems">Zagadnienia</a></li>
    <li><a href="/about">O nas</a></li>
</ul>

<div id="mathjax-content" class="container z-depth-2">
    <h3 class="center">Rozwiązywanie równań kwadratowych</h3>
    <p>Równanie kwadratowe to równanie postaci \(ax^2 + bx + c = 0,\) gdzie \(a, b, c \in \mathbb{R}\) i \(a \ne 0\).
        Przez rozwiązanie takiego równania rozumie się wyznaczenie wszystkich \(x \in \mathbb{R}\) spełniających to
        równanie.
        Przykładowe równanie kwadratowe \(x^2 + 3x - 4 = 0\).</p>

    <p>W zależności od współczynników \(a, b, c \) równanie może mieć zero, jedno lub dwa rozwiązania.
        Do wyznaczenia liczby rozwiązań przydaje się narzędzie nazwane wyróżnikiem trójmianu kwadratowego oznaczane
        \(\Delta\),
        zdefiniowane jako \(\Delta = b^2 - 4ac\). Liczba rozwiązań równania zależy od znaku wyróżnika:</p>
    <ol>
        <li>Jeżeli \(\Delta \gt 0\), to równanie ma dwa rozwiązania rzeczywiste:<br>
            <div class="scroll">$$x_1 = \frac{-b - \sqrt{\Delta}}{2a}, \quad x_2 = \frac{-b + \sqrt{\Delta}}{2a}.$$</div>
        </li>
        <li>Jeżeli \(\Delta = 0\), to równanie ma jedno rozwiązanie rzeczywiste<br>
            $$x = \frac{-b}{2a}.$$
        </li>
        <li>Jeżeli \(\Delta \lt 0\), to równanie nie ma rozwiązań rzeczywistych.</li>
    </ol>
    <p><b>Przykład 1.</b> Rozwiąż równanie \(x^2 + 3x - 4 = 0\).<br>
        Rozwiązywanie równania zaczynamy od policzenia wyróżnika</p>
    <div class="scroll">$$\Delta = b^2 - 4ac = 3^2 -4(1)(-4) = 9 + 16 = 25.$$</div>
    <p>Delta wyszła dodatnia, zatem równanie ma dwa rzeczywiste rozwiązania. Możemy je wyliczyć używając odpowiednich
        wzorów</p>
    <div class="scroll">$$x_1 = \frac{-b - \sqrt{\Delta}}{2a} = \frac{-3 - \sqrt{25}}{2} = \frac{-3 - 5}{2} = -4,$$</div>
    <div class="scroll">$$x_2 = \frac{-b + \sqrt{\Delta}}{2a} = \frac{-3 + \sqrt{25}}{2} = \frac{-3 + 5}{2} = 1.$$</div>
    <p>Stąd dostajemy odpowiedź \(x = -4 \lor x = 1\).</p>
    <p><b>Przykład 2.</b> Rozwiąż równanie \(2x^2 + 6x + 5 = 0\).<br>
        Liczymy deltę</p>
    <div class="scroll">$$\Delta = b^2 - 4ac = 6^2 - 4(2)(5) = 36 - 40 = -4.$$</div>
    <p>Wyróżnik okazał się ujemny, zatem równanie nie ma rozwiązań w zbiorze liczb rzeczywistych.</p>
    <h3 class="center">Rozwiązywanie nierówności kwadratowych</h3>
    <p>Do rozwiązania nierówności kwadratowych potrzebne są umiejętności rozwiązywania równań kwadratowych i rysowania
        wykresów funkcji.
        Nierówność kwadratowa może przyjmować jedną z czterech postaci:</p>
    <ol>
        <li>\(ax^2 + bx + c \lt 0,\)</li>
        <li>\(ax^2 + bx + c \le 0,\)</li>
        <li>\(ax^2 + bx + c \ge 0,\)</li>
        <li>\(ax^2 + bx + c \gt 0.\)</li>
    </ol>
    <p>Rozwiązaniem nierówności kwadratowej jest zbiór takich \(x \in \mathbb{R},\) które spełniają podaną nierówność.</p>
    <p>Metoda rozwiązywania nierówności kwadratowych:</p>
    <ol>
        <li>Rozwiązać równanie \(ax^2 + bx + c = 0\),</li>
        <li>Naszkicować przybliżony wykres funkcji \(f(x) = ax^2 + bx + c\) z zaznaczonymi miejscami zerowymi,</li>
        <li>Z wykresu odczytać wynik.</li>
    </ol>
    <p><b>Przykład 1.</b> Rozwiąż nierówność \(3x^2 + 2x - 5 \lt 0.\)<br>
        W pierwszym kroku znajdujemy rozwiązania równania \(3x^2 + 2x - 5 = 0.\) W tym celu liczymy wyróżnik</p>
    <div class="scroll">$$\Delta = b^2 - 4ac = 2^2 - 4(3)(-5) = 4 + 60 = 64.$$</div>
    <p>Delta okazała się dodatnia, czyli równanie ma dwa rozwiązania:</p>
    <div class="scroll">$$x_1 = \frac{-b - \sqrt{\Delta}}{2a} = \frac{-2 - \sqrt{64}}{6} = \frac{-2 - 8}{6} = -\frac{5}{3},$$</div>
    <div class="scroll">$$x_2 = \frac{-b + \sqrt{\Delta}}{2a} = \frac{-2 + \sqrt{64}}{6} = \frac{-2 + 8}{6} = 1.$$</div>
    <p>Następnie szkicujemy wzór funkcji \(f(x) = 3x^2 + 2x - 5\) i znajdujemy zbiór takich \(x\), dla których \(f(x)
        \lt 0.\)</p>
    <img src="{{ plot1 }}" alt="Wykres" width="320" class="materialboxed chart">
    <p>Stąd dostajemy odpowiedź \(x \in [-\frac{5}{3}, 1].\)</p>
    <p><b>Przykład 2.</b> Rozwiąż nierówność \(3x^2 + 4x + 2 \ge 0.\)<br>
        Licząc deltę otrzymujemy</p>
    <div class="scroll">$$\Delta = b^2 - 4ac = 4^2 - 4(3)(2) = 16 - 24 = -8$$</div>
    <p>Ujemny wyróżnik oznacza brak rozwiązań równania \(3x^2 + 4x + 2 = 0,\) czyli wykres funkcji \(f(x) = 3x^2 + 4x +
        2\)
        leży w całości nad lub pod osią OX. Aby ustalić która z tych opcji zachodzi możemy zwrócić uwagę na znak
        współczynnika stojącego przy \(x^2\) -
        jeżeli jest ujemny, to wykres leży pod osią OX, jeżeli dodatni to nad osią OX. W tym przypadku współczynnik
        stojący przy
        \(x^2\) to 3, więc dla każdego \(x \in \mathbb{R} \quad f(x) \gt 0.\) Aby upewnić się, że nie popełniliśmy
        błędu, możemy
        naszkicować wykres funkcji \(f(x) = 3x^2 + 4x + 2.\)</p>
    <img src="{{ plot2 }}" alt="Wykres" width="320" class="materialboxed chart">
    <p>Widzimy że w istocie dla każdego \(x \in \mathbb{R} \quad 3x^2 + 4x + 2 \gt 0,\) więc rozwiązaniem nierówności
        \(3x^2 + 4x + 2 \ge 0\)
        jest cały zbiór \(\mathbb{R}.\)</p>
    <h3 class="center">Wzory Viete'a</h3>
    <p>Jeżeli \(x_1, x_2\) są rozwiązaniami równania kwadratowego \(ax^2 + bx + c = 0,\) to zachodzą następujące wzory:</p>
    <ul>
        <li><div class="scroll">$$x_1 + x_2 = \frac{-b}{a};$$</div></li>
        <li><div class="scroll">$$x_1 \cdot x_2 = \frac{c}{a}.$$</div></li>
    </ul>
    <p>Dowód:<br></p>
    <div class="scroll">$$x_1 + x_2 = \frac{-b - \sqrt{\Delta}}{2a} + \frac{-b + \sqrt{\Delta}}{2a} = \frac{-b - \sqrt{\Delta} - b +
        \sqrt{\Delta}}{2a} =
        \frac{-2b}{2a} = \frac{-b}{a};$$</div>
    <div class="scroll">$$x_1 \cdot x_2 = \frac{-b - \sqrt{\Delta}}{2a} \cdot \frac{-b + \sqrt{\Delta}}{2a} = \frac{(-b -
        \sqrt{\Delta)}(-b + \sqrt{\Delta)}}{4a^2} =
        \frac{b^2 - \Delta}{4a^2} = \frac{b^2 - (b^2 - 4ac)}{4a^2} = \frac{4ac}{4a^2} = \frac{c}{a}.$$</div>
    <p>Wzory Viete'a są bardzo przydatne na przykład przy rozwiązywaniu równań kwadratowych z parametrem.</p>
    <p><b>Przykład 1.</b> Dla jakich wartości parametru \(m \in \mathbb{R}\) równanie \(x^2 + mx + m = 0\)
        ma dwa różne rozwiązania rzeczywiste przeciwnych znaków?<br>
        Podane równanie będzie miało dwa rozwiązania wtedy, gdy wyróżnik będzie większy od 0. zaczynamy więc od
        rozwiązania nierówności \(\Delta \gt 0.\)</p>
    <div class="scroll">$$\Delta = b^2 - 4ac = m^2 - 4m = m(m - 4). \quad \Delta \gt 0 \Leftrightarrow m(m-4) \gt 0 \Leftrightarrow m
    \in (-\infty, 0) \cup (4, \infty).$$</div>
    <p>Teraz pozostaje sprawdzić dla jakich \(m \in (-\infty, 0) \cup (4, \infty)\) \(x_1\) i \(x_2\) mają przeciwne
        znaki. Dwie liczby mają przeciwne znaki wtedy i tylko wtedy, gdy ich iloczyn jest ujemny.
        Skorzystamy w tym miejscu z poznanych wzorów Viete'a.</p>
    <div class="scroll">$$x_1 \cdot x_2 = \frac{c}{a} = \frac{m}{1} = m. \quad x_1 \cdot x_2 \lt 0 \Leftrightarrow m \lt 0.$$</div>
    <p>Stąd otrzymujemy odpowiedź \(m \in (-\infty, 0).\)</p>
</div>
<!-- Scripts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="{{ url_for('static', filename='script.js') }}"></script>
<!-- Mathjax -->
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</body>
</html>
