{%  extends 'layout.html' %}

{% block content %}
<div id="content" class="container z-depth-2">
    <form action="#">
        <h3 class="flow-text">Która odpowiedź jest prawidłowa?</h3>
        <p>
            <label>
                <input name="zad1" type="radio"/>
                <span class="zad1-incorrect">Być może ta jest poprawna.</span>
            </label>
        </p>
        <p>
            <label>
                <input name="zad1" type="radio"/>
                <span class="zad1-correct">To na pewno nie jest poprawna odpowiedź.</span>
            </label>
        </p>
        <p>
            <label>
                <input name="zad1" type="radio"/>
                <span class="zad1-incorrect">A może ta...</span>
            </label>
        </p>
        <a class="waves-effect waves-light btn indigo" onclick="check('zad1')">Sprawdź!</a>
    </form>
</div>
{% endblock %}